#picture-list-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.search-input-row {
  margin-bottom: 25px;;
}

.search-input-container {
  display: flex;
}

.search-input-field {
  margin-right: 10px;
}
