<div class="row search-input-row">
  <div class="col-sm-6 col-lg-4 search-input-container">
    <input type="text" class="form-control search-input-field" placeholder="Search" #searchValue>
    <button
      type="button"
      class="btn btn-default"
      (click)="searchAlbums(searchValue)"
    >Find Pictures</button>
  </div>
</div>

<div id="album-list-container" *ngIf="albums && albums.length; else emptyList">
  <app-album-item
    *ngFor="let album of albums"
    [album]="album"
    [isAdmin]="isAdmin"
  ></app-album-item>
</div>

<ng-template #emptyList>
  <h3>No Albums Found</h3>
</ng-template>