.picture-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.picture {
  height: 75px;
  margin: 2px;
}

.remove-picture-icon {
  color: red;
  position: relative;
  left: -20px;
  top: -20px;
}

.add-picture-icon {
  color: green;
  position: relative;
  left: -20px;
  top: -20px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.btn {
  margin-right: 10px;
}

.collapsable-hr {
  display: flex;
  align-items: center;
  margin-left: -25px;
}

.collapse-span {
  margin-right: 10px;
}

.collapse-hr {
  flex: 1;
  border-bottom: 1px solid darkgray;
  margin-left: 10px;
}